openapi: 3.0.0
info:
  title: Seam Connect
  version: 1.0.0
servers:
  - url: https://connect.getseam.com
tags:
  - name: /access_codes
    description: access_codes
  - name: /action_attempts
    description: action_attempts
  - name: /client_sessions
    description: client_sessions
  - name: /connected_accounts
    description: connected_accounts
  - name: /connect_webviews
    description: connect_webviews
  - name: /devices
    description: devices
  - name: /events
    description: events
  - name: /health
    description: health
  - name: /locks
    description: locks
  - name: /noise_sensors
    description: noise_sensors
  - name: /webhooks
    description: webhooks
  - name: /workspaces
    description: workspaces
paths:
  /access_codes/create:
    post:
      summary: /access_codes/create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_attempt:
                    discriminator:
                      propertyName: status
                    oneOf:
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - success
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - pending
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - error
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: object
                            properties:
                              type:
                                type: string
                              message:
                                type: string
                            required:
                              - type
                              - message
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                  access_code:
                    type: object
                    properties:
                      common_code_key:
                        type: string
                        nullable: true
                      type:
                        type: string
                        enum:
                          - time_bound
                          - ongoing
                      is_waiting_for_code_assignment:
                        type: boolean
                      access_code_id:
                        type: string
                        format: uuid
                      device_id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        nullable: true
                      code:
                        type: string
                        nullable: true
                      created_at:
                        type: string
                      errors:
                        nullable: true
                      warnings:
                        nullable: true
                      is_managed:
                        type: boolean
                        enum:
                          - true
                      starts_at:
                        type: string
                      ends_at:
                        type: string
                      status:
                        type: string
                        enum:
                          - setting
                          - set
                          - unset
                          - removing
                          - unknown
                    required:
                      - common_code_key
                      - type
                      - access_code_id
                      - device_id
                      - name
                      - code
                      - created_at
                      - is_managed
                      - status
                  ok:
                    type: boolean
                required:
                  - action_attempt
                  - access_code
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  format: uuid
                name:
                  type: string
                starts_at:
                  type: string
                ends_at:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
                  pattern: ^\d+$
                sync:
                  default: false
                  type: boolean
                attempt_for_offline_device:
                  default: true
                  type: boolean
                common_code_key:
                  type: string
              required:
                - device_id
      parameters:
        - name: device_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: starts_at
          in: query
          schema:
            type: string
          required: false
        - name: ends_at
          in: query
          schema:
            type: string
          required: false
        - name: code
          in: query
          schema:
            type: string
            minLength: 4
            maxLength: 8
            pattern: ^\d+$
          required: false
        - name: sync
          in: query
          schema:
            default: false
            type: boolean
          required: false
        - name: attempt_for_offline_device
          in: query
          schema:
            default: true
            type: boolean
          required: false
        - name: common_code_key
          in: query
          schema:
            type: string
          required: false
      tags:
        - /access_codes
  /access_codes/create_multiple:
    put:
      summary: /access_codes/create_multiple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_codes:
                    type: array
                    items:
                      type: object
                      properties:
                        common_code_key:
                          type: string
                          nullable: true
                        type:
                          type: string
                          enum:
                            - time_bound
                            - ongoing
                        is_waiting_for_code_assignment:
                          type: boolean
                        access_code_id:
                          type: string
                          format: uuid
                        device_id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          nullable: true
                        code:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                        errors:
                          nullable: true
                        warnings:
                          nullable: true
                        is_managed:
                          type: boolean
                          enum:
                            - true
                        starts_at:
                          type: string
                        ends_at:
                          type: string
                        status:
                          type: string
                          enum:
                            - setting
                            - set
                            - unset
                            - removing
                            - unknown
                      required:
                        - common_code_key
                        - type
                        - access_code_id
                        - device_id
                        - name
                        - code
                        - created_at
                        - is_managed
                        - status
                  ok:
                    type: boolean
                required:
                  - access_codes
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                behavior_when_code_cannot_be_shared:
                  default: throw
                  type: string
                  enum:
                    - throw
                    - create_random_code
                name:
                  type: string
                starts_at:
                  type: string
                ends_at:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
                  pattern: ^\d+$
                attempt_for_offline_device:
                  default: true
                  type: boolean
              required:
                - device_ids
      parameters:
        - name: device_ids
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          required: true
        - name: behavior_when_code_cannot_be_shared
          in: query
          schema:
            default: throw
            type: string
            enum:
              - throw
              - create_random_code
          required: false
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: starts_at
          in: query
          schema:
            type: string
          required: false
        - name: ends_at
          in: query
          schema:
            type: string
          required: false
        - name: code
          in: query
          schema:
            type: string
            minLength: 4
            maxLength: 8
            pattern: ^\d+$
          required: false
        - name: attempt_for_offline_device
          in: query
          schema:
            default: true
            type: boolean
          required: false
      tags:
        - /access_codes
    post:
      summary: /access_codes/create_multiple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_codes:
                    type: array
                    items:
                      type: object
                      properties:
                        common_code_key:
                          type: string
                          nullable: true
                        type:
                          type: string
                          enum:
                            - time_bound
                            - ongoing
                        is_waiting_for_code_assignment:
                          type: boolean
                        access_code_id:
                          type: string
                          format: uuid
                        device_id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          nullable: true
                        code:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                        errors:
                          nullable: true
                        warnings:
                          nullable: true
                        is_managed:
                          type: boolean
                          enum:
                            - true
                        starts_at:
                          type: string
                        ends_at:
                          type: string
                        status:
                          type: string
                          enum:
                            - setting
                            - set
                            - unset
                            - removing
                            - unknown
                      required:
                        - common_code_key
                        - type
                        - access_code_id
                        - device_id
                        - name
                        - code
                        - created_at
                        - is_managed
                        - status
                  ok:
                    type: boolean
                required:
                  - access_codes
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                behavior_when_code_cannot_be_shared:
                  default: throw
                  type: string
                  enum:
                    - throw
                    - create_random_code
                name:
                  type: string
                starts_at:
                  type: string
                ends_at:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
                  pattern: ^\d+$
                attempt_for_offline_device:
                  default: true
                  type: boolean
              required:
                - device_ids
      parameters:
        - name: device_ids
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          required: true
        - name: behavior_when_code_cannot_be_shared
          in: query
          schema:
            default: throw
            type: string
            enum:
              - throw
              - create_random_code
          required: false
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: starts_at
          in: query
          schema:
            type: string
          required: false
        - name: ends_at
          in: query
          schema:
            type: string
          required: false
        - name: code
          in: query
          schema:
            type: string
            minLength: 4
            maxLength: 8
            pattern: ^\d+$
          required: false
        - name: attempt_for_offline_device
          in: query
          schema:
            default: true
            type: boolean
          required: false
      tags:
        - /access_codes
  /access_codes/delete:
    post:
      summary: /access_codes/delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_attempt:
                    discriminator:
                      propertyName: status
                    oneOf:
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - success
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - pending
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - error
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: object
                            properties:
                              type:
                                type: string
                              message:
                                type: string
                            required:
                              - type
                              - message
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                  ok:
                    type: boolean
                required:
                  - action_attempt
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  format: uuid
                access_code_id:
                  type: string
                  format: uuid
                sync:
                  default: false
                  type: boolean
              required:
                - access_code_id
      tags:
        - /access_codes
  /access_codes/get:
    get:
      summary: /access_codes/get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_code:
                    type: object
                    properties:
                      common_code_key:
                        type: string
                        nullable: true
                      type:
                        type: string
                        enum:
                          - time_bound
                          - ongoing
                      is_waiting_for_code_assignment:
                        type: boolean
                      access_code_id:
                        type: string
                        format: uuid
                      device_id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        nullable: true
                      code:
                        type: string
                        nullable: true
                      created_at:
                        type: string
                      errors:
                        nullable: true
                      warnings:
                        nullable: true
                      is_managed:
                        type: boolean
                        enum:
                          - true
                      starts_at:
                        type: string
                      ends_at:
                        type: string
                      status:
                        type: string
                        enum:
                          - setting
                          - set
                          - unset
                          - removing
                          - unknown
                    required:
                      - common_code_key
                      - type
                      - access_code_id
                      - device_id
                      - name
                      - code
                      - created_at
                      - is_managed
                      - status
                  ok:
                    type: boolean
                required:
                  - access_code
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: device_id
          in: query
          schema:
            type: string
            format: uuid
        - name: access_code_id
          in: query
          schema:
            type: string
            format: uuid
        - name: code
          in: query
          schema:
            type: string
      tags:
        - /access_codes
  /access_codes/list:
    get:
      summary: /access_codes/list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_codes:
                    type: array
                    items:
                      type: object
                      properties:
                        common_code_key:
                          type: string
                          nullable: true
                        type:
                          type: string
                          enum:
                            - time_bound
                            - ongoing
                        is_waiting_for_code_assignment:
                          type: boolean
                        access_code_id:
                          type: string
                          format: uuid
                        device_id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          nullable: true
                        code:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                        errors:
                          nullable: true
                        warnings:
                          nullable: true
                        is_managed:
                          type: boolean
                          enum:
                            - true
                        starts_at:
                          type: string
                        ends_at:
                          type: string
                        status:
                          type: string
                          enum:
                            - setting
                            - set
                            - unset
                            - removing
                            - unknown
                      required:
                        - common_code_key
                        - type
                        - access_code_id
                        - device_id
                        - name
                        - code
                        - created_at
                        - is_managed
                        - status
                  ok:
                    type: boolean
                required:
                  - access_codes
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: device_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - /access_codes
  /access_codes/update:
    put:
      summary: /access_codes/update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_attempt:
                    discriminator:
                      propertyName: status
                    oneOf:
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - success
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - pending
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - error
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: object
                            properties:
                              type:
                                type: string
                              message:
                                type: string
                            required:
                              - type
                              - message
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                  ok:
                    type: boolean
                required:
                  - action_attempt
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                starts_at:
                  type: string
                ends_at:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
                  pattern: ^\d+$
                sync:
                  default: false
                  type: boolean
                attempt_for_offline_device:
                  default: true
                  type: boolean
                access_code_id:
                  type: string
                  format: uuid
                device_id:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum:
                    - ongoing
                    - time_bound
              required:
                - access_code_id
      parameters:
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: starts_at
          in: query
          schema:
            type: string
          required: false
        - name: ends_at
          in: query
          schema:
            type: string
          required: false
        - name: code
          in: query
          schema:
            type: string
            minLength: 4
            maxLength: 8
            pattern: ^\d+$
          required: false
        - name: sync
          in: query
          schema:
            default: false
            type: boolean
          required: false
        - name: attempt_for_offline_device
          in: query
          schema:
            default: true
            type: boolean
          required: false
        - name: access_code_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
        - name: device_id
          in: query
          schema:
            type: string
            format: uuid
          required: false
        - name: type
          in: query
          schema:
            type: string
            enum:
              - ongoing
              - time_bound
          required: false
      tags:
        - /access_codes
    post:
      summary: /access_codes/update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_attempt:
                    discriminator:
                      propertyName: status
                    oneOf:
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - success
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - pending
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - error
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: object
                            properties:
                              type:
                                type: string
                              message:
                                type: string
                            required:
                              - type
                              - message
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                  ok:
                    type: boolean
                required:
                  - action_attempt
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                starts_at:
                  type: string
                ends_at:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
                  pattern: ^\d+$
                sync:
                  default: false
                  type: boolean
                attempt_for_offline_device:
                  default: true
                  type: boolean
                access_code_id:
                  type: string
                  format: uuid
                device_id:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum:
                    - ongoing
                    - time_bound
              required:
                - access_code_id
      parameters:
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: starts_at
          in: query
          schema:
            type: string
          required: false
        - name: ends_at
          in: query
          schema:
            type: string
          required: false
        - name: code
          in: query
          schema:
            type: string
            minLength: 4
            maxLength: 8
            pattern: ^\d+$
          required: false
        - name: sync
          in: query
          schema:
            default: false
            type: boolean
          required: false
        - name: attempt_for_offline_device
          in: query
          schema:
            default: true
            type: boolean
          required: false
        - name: access_code_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
        - name: device_id
          in: query
          schema:
            type: string
            format: uuid
          required: false
        - name: type
          in: query
          schema:
            type: string
            enum:
              - ongoing
              - time_bound
          required: false
      tags:
        - /access_codes
  /action_attempts/get:
    get:
      summary: /action_attempts/get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_attempt:
                    discriminator:
                      propertyName: status
                    oneOf:
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - success
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - pending
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: string
                            format: 'null'
                            nullable: true
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                      - type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - error
                          action_type:
                            type: string
                          action_attempt_id:
                            type: string
                            format: uuid
                          result:
                            type: string
                            format: 'null'
                            nullable: true
                          error:
                            type: object
                            properties:
                              type:
                                type: string
                              message:
                                type: string
                            required:
                              - type
                              - message
                        required:
                          - status
                          - action_type
                          - action_attempt_id
                          - result
                          - error
                  ok:
                    type: boolean
                required:
                  - action_attempt
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: action_attempt_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - /action_attempts
  /action_attempts/list:
    get:
      summary: /action_attempts/list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_attempts:
                    type: array
                    items:
                      discriminator:
                        propertyName: status
                      oneOf:
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                                - success
                            action_type:
                              type: string
                            action_attempt_id:
                              type: string
                              format: uuid
                            result:
                              nullable: true
                            error:
                              type: string
                              format: 'null'
                              nullable: true
                          required:
                            - status
                            - action_type
                            - action_attempt_id
                            - error
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                                - pending
                            action_type:
                              type: string
                            action_attempt_id:
                              type: string
                              format: uuid
                            result:
                              type: string
                              format: 'null'
                              nullable: true
                            error:
                              type: string
                              format: 'null'
                              nullable: true
                          required:
                            - status
                            - action_type
                            - action_attempt_id
                            - result
                            - error
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                                - error
                            action_type:
                              type: string
                            action_attempt_id:
                              type: string
                              format: uuid
                            result:
                              type: string
                              format: 'null'
                              nullable: true
                            error:
                              type: object
                              properties:
                                type:
                                  type: string
                                message:
                                  type: string
                              required:
                                - type
                                - message
                          required:
                            - status
                            - action_type
                            - action_attempt_id
                            - result
                            - error
                  ok:
                    type: boolean
                required:
                  - action_attempts
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: action_attempt_ids
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          required: true
      tags:
        - /action_attempts
  /client_sessions/create:
    put:
      summary: /client_sessions/create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_session:
                    type: object
                    properties:
                      token:
                        type: string
                      client_session_id:
                        type: string
                      created_at:
                        type: string
                    required:
                      - token
                      - client_session_id
                      - created_at
                  ok:
                    type: boolean
                required:
                  - client_session
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - nullable: true
                - type: object
                  properties:
                    user_identifier_key:
                      type: string
                    connect_webview_ids:
                      type: array
                      items:
                        type: string
                    connected_account_ids:
                      type: array
                      items:
                        type: string
                  required:
                    - user_identifier_key
              nullable: true
      tags:
        - /client_sessions
    post:
      summary: /client_sessions/create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_session:
                    type: object
                    properties:
                      token:
                        type: string
                      client_session_id:
                        type: string
                      created_at:
                        type: string
                    required:
                      - token
                      - client_session_id
                      - created_at
                  ok:
                    type: boolean
                required:
                  - client_session
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - nullable: true
                - type: object
                  properties:
                    user_identifier_key:
                      type: string
                    connect_webview_ids:
                      type: array
                      items:
                        type: string
                    connected_account_ids:
                      type: array
                      items:
                        type: string
                  required:
                    - user_identifier_key
              nullable: true
      tags:
        - /client_sessions
  /connect_webviews/create:
    post:
      summary: /connect_webviews/create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  connect_webview:
                    type: object
                    properties:
                      connect_webview_id:
                        type: string
                      url:
                        type: string
                        format: uri
                      workspace_id:
                        type: string
                      device_selection_mode:
                        type: string
                      accepted_providers:
                        type: array
                        items:
                          type: string
                      accepted_devices:
                        type: array
                        items:
                          type: string
                      any_provider_allowed:
                        type: boolean
                        nullable: true
                      any_device_allowed:
                        type: boolean
                        nullable: true
                      created_at:
                        type: string
                      login_successful:
                        type: boolean
                      status:
                        type: string
                    required:
                      - connect_webview_id
                      - url
                      - workspace_id
                      - device_selection_mode
                      - accepted_providers
                      - accepted_devices
                      - any_provider_allowed
                      - any_device_allowed
                      - created_at
                      - login_successful
                      - status
                  ok:
                    type: boolean
                required:
                  - connect_webview
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_selection_mode:
                  type: string
                  enum:
                    - none
                    - single
                    - multiple
                custom_redirect_url:
                  type: string
                custom_redirect_failure_url:
                  type: string
                accepted_providers:
                  type: array
                  items:
                    type: string
                    enum:
                      - akuvox
                      - august
                      - avigilon_alta
                      - brivo
                      - butterflymx
                      - schlage
                      - smartthings
                      - yale_access
                      - genie
                      - doorking
                      - salto
                      - lockly
                      - ttlock
                      - linear
                      - noiseaware
                      - nuki
                      - seam_relay_admin
                      - igloo
                      - kwikset
                      - minut
                      - my_2n
                      - controlbyweb
                      - nest
                      - igloohome
                      - ecobee
                provider_category:
                  type: string
                  enum:
                    - stable
                    - internal_beta
                custom_metadata:
                  type: object
                  additionalProperties:
                    oneOf:
                      - type: string
                        maxLength: 500
                      - type: number
                      - type: string
                        format: 'null'
                        nullable: true
                      - type: boolean
                    nullable: true
      parameters:
        - name: device_selection_mode
          in: query
          schema:
            type: string
            enum:
              - none
              - single
              - multiple
        - name: custom_redirect_url
          in: query
          schema:
            type: string
        - name: custom_redirect_failure_url
          in: query
          schema:
            type: string
        - name: accepted_providers
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - akuvox
                - august
                - avigilon_alta
                - brivo
                - butterflymx
                - schlage
                - smartthings
                - yale_access
                - genie
                - doorking
                - salto
                - lockly
                - ttlock
                - linear
                - noiseaware
                - nuki
                - seam_relay_admin
                - igloo
                - kwikset
                - minut
                - my_2n
                - controlbyweb
                - nest
                - igloohome
                - ecobee
        - name: provider_category
          in: query
          schema:
            type: string
            enum:
              - stable
              - internal_beta
        - name: custom_metadata
          in: query
          schema:
            type: object
            additionalProperties:
              oneOf:
                - type: string
                  maxLength: 500
                - type: number
                - type: string
                  format: 'null'
                  nullable: true
                - type: boolean
              nullable: true
      tags:
        - /connect_webviews
  /connect_webviews/delete:
    post:
      summary: /connect_webviews/delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connect_webview_id:
                  type: string
                  format: uuid
              required:
                - connect_webview_id
      parameters:
        - name: connect_webview_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - /connect_webviews
  /connect_webviews/get:
    get:
      summary: /connect_webviews/get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  connect_webview:
                    type: object
                    properties:
                      connect_webview_id:
                        type: string
                      connected_account_id:
                        type: string
                      url:
                        type: string
                        format: uri
                      workspace_id:
                        type: string
                      device_selection_mode:
                        type: string
                      accepted_providers:
                        type: array
                        items:
                          type: string
                      accepted_devices:
                        type: array
                        items:
                          type: string
                      any_provider_allowed:
                        type: boolean
                      any_device_allowed:
                        type: boolean
                      created_at:
                        type: string
                      login_successful:
                        type: boolean
                      status:
                        type: string
                    required:
                      - connect_webview_id
                      - connected_account_id
                      - url
                      - workspace_id
                      - device_selection_mode
                      - accepted_providers
                      - accepted_devices
                      - any_provider_allowed
                      - any_device_allowed
                      - created_at
                      - login_successful
                      - status
                  ok:
                    type: boolean
                required:
                  - connect_webview
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: connect_webview_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - /connect_webviews
  /connect_webviews/list:
    get:
      summary: /connect_webviews/list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  connect_webviews:
                    type: array
                    items:
                      type: object
                      properties:
                        connect_webview_id:
                          type: string
                        connected_account_id:
                          type: string
                        url:
                          type: string
                          format: uri
                        workspace_id:
                          type: string
                        device_selection_mode:
                          type: string
                        accepted_providers:
                          type: array
                          items:
                            type: string
                        accepted_devices:
                          type: array
                          items:
                            type: string
                        any_provider_allowed:
                          type: boolean
                        any_device_allowed:
                          type: boolean
                        created_at:
                          type: string
                        login_successful:
                          type: boolean
                        status:
                          type: string
                      required:
                        - connect_webview_id
                        - connected_account_id
                        - url
                        - workspace_id
                        - device_selection_mode
                        - accepted_providers
                        - accepted_devices
                        - any_provider_allowed
                        - any_device_allowed
                        - created_at
                        - login_successful
                        - status
                  ok:
                    type: boolean
                required:
                  - connect_webviews
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      tags:
        - /connect_webviews
  /connect_webviews/view:
    get:
      summary: /connect_webviews/view
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      parameters:
        - name: connect_webview_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
        - name: auth_token
          in: query
          schema:
            type: string
          required: true
      tags:
        - /connect_webviews
  /connected_accounts/delete:
    post:
      summary: /connected_accounts/delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connected_account_id:
                  type: string
                  format: uuid
              required:
                - connected_account_id
      parameters:
        - name: connected_account_id
          in: query
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - /connected_accounts
  /connected_accounts/get:
    get:
      summary: /connected_accounts/get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected_account:
                    type: object
                    properties:
                      connected_account_id:
                        type: string
                        format: uuid
                      created_at:
                        type: string
                      user_identifier:
                        type: object
                        properties:
                          username:
                            type: string
                          api_url:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
                          exclusive:
                            type: boolean
                      account_type:
                        type: string
                      errors:
                        nullable: true
                      warnings:
                        nullable: true
                      custom_metadata:
                        type: object
                        additionalProperties:
                          oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: string
                              format: 'null'
                              nullable: true
                          nullable: true
                  ok:
                    type: boolean
                required:
                  - connected_account
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      tags:
        - /connected_accounts
  /connected_accounts/list:
    get:
      summary: /connected_accounts/list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected_accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        connected_account_id:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                        user_identifier:
                          type: object
                          properties:
                            username:
                              type: string
                            api_url:
                              type: string
                            email:
                              type: string
                            phone:
                              type: string
                            exclusive:
                              type: boolean
                        account_type:
                          type: string
                        errors:
                          nullable: true
                        warnings:
                          nullable: true
                        custom_metadata:
                          type: object
                          additionalProperties:
                            oneOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - type: string
                                format: 'null'
                                nullable: true
                            nullable: true
                  ok:
                    type: boolean
                required:
                  - connected_accounts
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      tags:
        - /connected_accounts
  /devices/delete:
    post:
      summary: /devices/delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  format: uuid
              required:
                - device_id
      tags:
        - /devices
  /devices/get:
    get:
      summary: /devices/get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    type: object
                    properties:
                      device_id:
                        type: string
                      device_type:
                        type: string
                        enum:
                          - akuvox_lock
                          - august_lock
                          - brivo_access_point
                          - butterflymx_panel
                          - doorking_lock
                          - genie_door
                          - igloo_lock
                          - linear_lock
                          - lockly_lock
                          - kwikset_lock
                          - nuki_lock
                          - salto_lock
                          - schlage_lock
                          - seam_relay
                          - smartthings_lock
                          - yale_lock
                          - two_n_intercom
                          - controlbyweb_device
                          - ttlock_lock
                          - noiseaware_activity_zone
                          - minut_sensor
                      capabilities_supported:
                        type: array
                        items:
                          type: string
                      properties:
                        allOf:
                          - type: object
                            properties:
                              online:
                                type: boolean
                              name:
                                type: string
                            required:
                              - online
                              - name
                          - type: object
                            additionalProperties:
                              nullable: true
                      location:
                        nullable: true
                      connected_account_id:
                        type: string
                      workspace_id:
                        type: string
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            error_code:
                              type: string
                            message:
                              type: string
                          required:
                            - error_code
                            - message
                      warnings:
                        type: array
                        items:
                          type: object
                          properties:
                            warning_code:
                              type: string
                            message:
                              type: string
                          required:
                            - warning_code
                            - message
                      created_at:
                        type: string
                    required:
                      - device_id
                      - device_type
                      - capabilities_supported
                      - properties
                      - connected_account_id
                      - workspace_id
                      - errors
                      - warnings
                      - created_at
                  ok:
                    type: boolean
                required:
                  - device
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: device_id
          in: query
          schema:
            type: string
            format: uuid
        - name: name
          in: query
          schema:
            type: string
      tags:
        - /devices
  /devices/list:
    post:
      summary: /devices/list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        device_type:
                          type: string
                          enum:
                            - akuvox_lock
                            - august_lock
                            - brivo_access_point
                            - butterflymx_panel
                            - doorking_lock
                            - genie_door
                            - igloo_lock
                            - linear_lock
                            - lockly_lock
                            - kwikset_lock
                            - nuki_lock
                            - salto_lock
                            - schlage_lock
                            - seam_relay
                            - smartthings_lock
                            - yale_lock
                            - two_n_intercom
                            - controlbyweb_device
                            - ttlock_lock
                            - noiseaware_activity_zone
                            - minut_sensor
                        capabilities_supported:
                          type: array
                          items:
                            type: string
                        properties:
                          allOf:
                            - type: object
                              properties:
                                online:
                                  type: boolean
                                name:
                                  type: string
                              required:
                                - online
                                - name
                            - type: object
                              additionalProperties:
                                nullable: true
                        location:
                          nullable: true
                        connected_account_id:
                          type: string
                        workspace_id:
                          type: string
                        errors:
                          type: array
                          items:
                            type: object
                            properties:
                              error_code:
                                type: string
                              message:
                                type: string
                            required:
                              - error_code
                              - message
                        warnings:
                          type: array
                          items:
                            type: object
                            properties:
                              warning_code:
                                type: string
                              message:
                                type: string
                            required:
                              - warning_code
                              - message
                        created_at:
                          type: string
                      required:
                        - device_id
                        - device_type
                        - capabilities_supported
                        - properties
                        - connected_account_id
                        - workspace_id
                        - errors
                        - warnings
                        - created_at
                  ok:
                    type: boolean
                required:
                  - devices
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connected_account_id:
                  type: string
                  format: uuid
                connected_account_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                connect_webview_id:
                  type: string
                  format: uuid
                device_type:
                  type: string
                  enum:
                    - akuvox_lock
                    - august_lock
                    - brivo_access_point
                    - butterflymx_panel
                    - doorking_lock
                    - genie_door
                    - igloo_lock
                    - linear_lock
                    - lockly_lock
                    - kwikset_lock
                    - nuki_lock
                    - salto_lock
                    - schlage_lock
                    - seam_relay
                    - smartthings_lock
                    - yale_lock
                    - two_n_intercom
                    - controlbyweb_device
                    - ttlock_lock
                    - noiseaware_activity_zone
                    - minut_sensor
                manufacturer:
                  type: string
                  enum:
                    - akuvox
                    - august
                    - brivo
                    - butterflymx
                    - doorking
                    - genie
                    - igloo
                    - keywe
                    - kwikset
                    - linear
                    - lockly
                    - nuki
                    - philia
                    - salto
                    - samsung
                    - schlage
                    - seam
                    - unknown
                    - yale
                    - minut
                    - two_n
                    - ttlock
                    - nest
                device_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      tags:
        - /devices
  /devices/list_device_providers:
    get:
      summary: /devices/list_device_providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_providers:
                    type: array
                    items:
                      type: object
                      properties:
                        device_provider_name:
                          type: string
                        display_name:
                          type: string
                        image_url:
                          type: string
                        provider_categories:
                          type: array
                          items:
                            type: string
                            enum:
                              - stable
                      required:
                        - device_provider_name
                        - display_name
                        - image_url
                        - provider_categories
                  ok:
                    type: boolean
                required:
                  - device_providers
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: provider_category
          in: query
          schema:
            type: string
            enum:
              - stable
      tags:
        - /devices
  /devices/update:
    patch:
      summary: /devices/update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  format: uuid
                properties:
                  type: object
                  properties:
                    name:
                      type: string
                      nullable: true
                name:
                  type: string
                  nullable: true
                location:
                  type: object
                  properties: {}
                is_managed:
                  default: true
                  type: boolean
              required:
                - device_id
      tags:
        - /devices
    post:
      summary: /devices/update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  format: uuid
                properties:
                  type: object
                  properties:
                    name:
                      type: string
                      nullable: true
                name:
                  type: string
                  nullable: true
                location:
                  type: object
                  properties: {}
                is_managed:
                  default: true
                  type: boolean
              required:
                - device_id
      tags:
        - /devices
  /events/get:
    get:
      summary: /events/get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    type: object
                    properties:
                      event_id:
                        type: string
                        format: uuid
                      device_id:
                        type: string
                        format: uuid
                      event_type:
                        type: string
                      workspace_id:
                        type: string
                        format: uuid
                      created_at:
                        type: string
                        format: date-time
                      occurred_at:
                        type: string
                        format: date-time
                    required:
                      - event_id
                      - event_type
                      - workspace_id
                      - created_at
                      - occurred_at
                  message:
                    type: string
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      parameters:
        - name: event_id
          in: query
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          schema:
            type: string
        - name: device_id
          in: query
          schema:
            type: string
            format: uuid
      tags:
        - /events
  /events/list:
    post:
      summary: /events/list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        event_id:
                          type: string
                          format: uuid
                        device_id:
                          type: string
                          format: uuid
                        event_type:
                          type: string
                        workspace_id:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          format: date-time
                        occurred_at:
                          type: string
                          format: date-time
                      required:
                        - event_id
                        - event_type
                        - workspace_id
                        - created_at
                        - occurred_at
                  message:
                    type: string
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - seam_workspace: []
          access_token: []
        - seam_client_session_token: []
        - client_session_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                since:
                  type: string
                between:
                  type: array
                  items:
                    oneOf:
                      - type: string
                      - type: string
                        format: date-time
                  minItems: 2
                  maxItems: 2
                device_id:
                  type: string
                  format: uuid
                device_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                event_type:
                  type: string
                  enum:
                    - device.connected
                    - device.disconnected
                    - device.tampered
                    - device.low_battery
                    - device.battery_status_changed
                    - access_code.created
                    - access_code.changed
                    - access_code.set_on_device
                    - access_code.removed_from_device
                    - access_code.failed_to_set_on_device
                    - access_code.delay_in_setting_on_device
                    - access_code.failed_to_remove_from_device
                    - access_code.delay_in_removing_from_device
                    - access_code.unmanaged.converted_to_managed
                    - access_code.unmanaged.failed_to_convert_to_managed
                    - access_code.unmanaged.created
                    - access_code.unmanaged.removed
                    - lock.locked
                    - lock.unlocked
                    - connected_account.connected
                    - connected_account.created
                    - connected_account.disconnected
                    - connected_account.completed_first_sync
                    - noise_sensor.noise_threshold_triggered
                event_types:
                  type: array
                  items:
                    type: string
                    enum:
                      - device.connected
                      - device.disconnected
                      - device.tampered
                      - device.low_battery
                      - device.battery_status_changed
                      - access_code.created
                      - access_code.changed
                      - access_code.set_on_device
                      - access_code.removed_from_device
                      - access_code.failed_to_set_on_device
                      - access_code.delay_in_setting_on_device
                      - access_code.failed_to_remove_from_device
                      - access_code.delay_in_removing_from_device
                      - access_code.unmanaged.converted_to_managed
                      - access_code.unmanaged.failed_to_convert_to_managed
                      - access_code.unmanaged.created
                      - access_code.unmanaged.removed
                      - lock.locked
                      - lock.unlocked
                      - connected_account.connected
                      - connected_account.created
                      - connected_account.disconnected
                      - connected_account.completed_first_sync
                      - noise_sensor.noise_threshold_triggered
                connected_account_id:
                  type: string
                  format: uuid
      tags:
        - /events
  /health/get_health:
    get:
      summary: /health/get_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  msg:
                    type: string
                    enum:
                      - I’m one with the Force. The Force is with me.
                  last_service_evaluation_at:
                    type: string
                  service_health_statuses:
                    type: array
                    items:
                      type: object
                      properties:
                        service:
                          type: string
                        status:
                          oneOf:
                            - type: string
                              enum:
                                - healthy
                            - type: string
                              enum:
                                - degraded
                            - type: string
                              enum:
                                - down
                        description:
                          type: string
                      required:
                        - service
                        - status
                        - description
                required:
                  - ok
                  - msg
                  - last_service_evaluation_at
                  - service_health_statuses
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
        - /health
  /health/get_service_health:
    get:
      summary: /health/get_service_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  last_service_evaluation_at:
                    type: string
                  service_health:
                    type: object
                    properties:
                      service:
                        type: string
                      status:
                        oneOf:
                          - type: string
                            enum:
                              - healthy
                          - type: string
                            enum:
                              - degraded
                          - type: string
                            enum:
                              - down
                      description:
                        type: string
                    required:
                      - service
                      - status
                      - description
                required:
                  - ok
                  - last_service_evaluation_at
                  - service_health
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      parameters:
        - name: service
          in: query
          schema:
            type: string
          required: true
      tags:
        - /health
  /health:
    get:
      summary: /health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  msg:
                    type: string
                    enum:
                      - I’m one with the Force. The Force is with me.
                  last_service_evaluation_at:
                    type: string
                  service_health_statuses:
                    type: array
                    items:
                      type: object
                      properties:
                        service:
                          type: string
                        status:
                          oneOf:
                            - type: string
                              enum:
                                - healthy
                            - type: string
                              enum:
                                - degraded
                            - type: string
                              enum:
                                - down
                        description:
                          type: string
                      required:
                        - service
                        - status
                        - description
                required:
                  - ok
                  - msg
                  - last_service_evaluation_at
                  - service_health_statuses
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
        - /health
  /locks/get:
    post:
      summary: /locks/get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  lock:
                    nullable: true
                  device:
                    nullable: true
                  ok:
                    type: boolean
                required:
                  - ok
        '400':
          description: Bad Request
        '401':
[...]
